<html>
    <head>
        <title>my webpage demo</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="logo.png" class="logo">
                <ul>
                    <li><a href="#">about us</a></li>
                </ul>
            </div>

        
            <div class="content">
                <h1>AI NUTRITION ANALYSER</h1>
                <p>This Webpage Is Help to Calculate Your Food Nutrition.<br>It's Help To Our HealthyLife</p>
                <div>
                    <a href="file:///C:/Users/yowan/Desktop/project%20demo/Classify.html">
                        <button type="button"><span></span>Classify</button>
                    </a>
                    <button type="button"><span></span>Go Back</button>
                    
                 </div>
            </div>
        </div>
        
    </body>
</html>